:root{
    --bg-loader : #0e031b;
    --bg-contain : linear-gradient(to bottom right, rgb(43, 43, 61), rgb(1, 1, 21));
    --packman : #ff9f39;

    --primary : linear-gradient(to bottom right, #0051ff, #2a09be);
    --borderColor : #5c5c5c;

    --text : #fff;
    --text2 : #aaaaaa;
}
@font-face {
    font-family: debug;
    src: url("../ModernWarfare-OV7KP.ttf");
}
*,body{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: .4s;
}

/* body{
    width : 100%;
    height: 100vh;
    overflow: hidden;
} */
#container{
    display: flex;
    padding: 2% 1.2%;
    gap : 15px;
    width : 100%;
    height: 100vh;
    background: var(--bg-contain);
    overflow: hidden;
}
/* #container .deco{
    position: absolute;
    right : -5%;
    width : 300px;
    height: 300px;
    background: rgb(3, 3, 105);
    filter: blur(30px);
    border-radius: 50%;
    opacity: .2;
} */
#container .side-contain, #container .all-data, #container .all-data .body-contain, #container .all-data .list-contain{
    position: relative;
    width : 60px;
    background: #ffffff11;
    border-radius: 10px;
    border: 1px solid var(--borderColor);
    backdrop-filter: blur(5px);
}
#container .side-contain .side-bars{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width : 100%;
    height: 100%;
}
#container .side-contain .side-bars .mode{
    position: absolute;
    top : 4%;
    margin-bottom: 50%;
}
#container .side-contain .side-bars .mode i{
    font-weight: bold;
    font-size: 1.4em;
    cursor: pointer;
}
#container .side-contain .side-bars .mode i:nth-child(1){
    color : rgb(40, 30, 232);
}
#container .side-contain .side-bars .mode i:nth-child(2){
    color : rgb(242, 255, 0)
}
#container .side-contain .side-bars .mode i.hidde{
    display: none;
}
#container .side-contain .side-bars .menu{
    display: flex;
    flex-direction: column;
    gap : 25px;
}
#container .side-contain .side-bars .menu a{
    position: relative;
    color : var(--text);
}

#container .side-contain .side-bars .menu a::before{
    content: "";
    position: absolute;
    left : -50%;
    top : -50%;
    width : 40px;
    height: 40px;
    border-radius: 20px;
    background: var(--text);
    filter: blur(10px);
    opacity: 0;
    z-index: -1;
    transition: .4s;
}
#container .side-contain .side-bars .menu a.active::before, #container .side-contain .side-bars .menu a:hover::before{
    opacity: .1;
}
#container .side-contain .side-bars .menu a.active::after{
    content: "";
    position: absolute;
    width : 1px;
    height: 100%;
    background: var(--text);
    right : -115%;
    opacity: .6;
}
#container .all-data{
    display: flex;
    gap : 15px;
    border: none;
    background: none;
    width : 95%;
}
#container .all-data .body-contain{
    display: flex;
    width : 75%;
}
#container .all-data .body-contain header{
    display: flex;
    position: absolute;
    justify-content: space-between;
    padding: 1.2% 4%;
    width : 100%;
    top : 0;
    left : 0;
}
#container .all-data .body-contain header .logo p{
    font-weight: bold;
    color : var(--text);
    letter-spacing: 5px;
}
#container .all-data .body-contain header .option{
    display: none;
    position: relative;
}
#container .all-data .body-contain header .option img{
    width: 30px;
    height: 30px;
}
#container .all-data .body-contain header .option::before{
    content: "";
    position: absolute;
    width : 40px;
    height: 40px;
    top : -5px;
    left : -5px;
    z-index: -1;
    border-radius: 50%;
    background: rgb(104, 97, 120);
    transform: scale(0);
    transition: .3s;
}
#container .all-data .body-contain header .option:hover:before{
    transform: scale(1);
}
#container .all-data .body-contain header .logo p::before{
    content: "";
    display: inline-block;
    width : 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
    background: var(--text);
}
#container .all-data .body-contain .images{
    width : 45%;
}
#container .all-data .body-contain .images lottie-player{
    width : 100%;
    height : 100%;
    object-fit: contain;
}
#container .all-data .body-contain .images img{
    width : 100%;
    height: 100%;
    object-fit: contain;
}
#container .all-data .body-contain .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-wrap: break-word;
    width : 55%;
}
#container .all-data .body-contain .text h1, #container .all-data .body-contain .text p:nth-child(1){
    color : var(--text);
}
#container .all-data .body-contain .text h1{
    font-weight: lighter;
    font-family: debug;
    font-size: 5em;
    text-transform: uppercase;
    animation: enterTitre 1.2s;
}

#container .all-data .body-contain .text p:nth-child(3){
    margin-top: 5%;
    color : var(--text2);
    animation: enterParagraphe 1.6s;
}
#container .all-data .body-contain .text button{
    font-weight: bold;
    margin: 8% 0;
    padding : 10px 14px;
    border: none;
    color : var(--text);
    border-radius: 5px;
    background: var(--primary);
    box-shadow: 2px 10px 15px rgba(4, 0, 225, 0);
    transition: .3s;
}
#container .all-data .body-contain .text button a{
    text-decoration: none;
    color : var(--text);
}
#container .all-data .body-contain .text button i{
    margin-right: 10px;
    transform: scale(.8);
    animation: enterMode .6s;
    transition: .4s;
}
#container .all-data .body-contain .text button:hover{
    box-shadow: 2px 10px 15px rgba(4, 0, 225, 0.4);
    transform: scale(1.02);
}
#container .all-data .body-contain .text button:hover i{
    transform: rotate(-30deg) scale(1.04);
}
#container .all-data .list-contain{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2% 0;
    gap : 20px;
    width : 24%;
    overflow-x: auto;
    overflow-y: scroll;
}
#container .all-data .list-contain::-webkit-scrollbar{
    width: 0;
}
#container .all-data .list-contain .box{
    position: relative;
    flex-shrink: 0;
    width : 70%;
    height : 30%;
    background: rgba(114, 109, 109, 0.185);
    backdrop-filter: blur(3px);
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}
#container .all-data .list-contain .box.active{
    width : 80%;
    height : 35%;
}
#container .all-data .list-contain .box img{
    width : 100%;
    height: 100%;
    object-fit: cover;
}
#container .all-data .list-contain .box .titre-game{
    position: absolute;
    left : 0;
    bottom : 0;
    width: 100%;
    height: 40px;
    border-radius: 15px 15px 0 0 ;
    background: var(--primary);
}
#container .all-data .list-contain .box .titre-game p{
    font-weight: bold;
    margin-top: 5%;
    text-align: center;
    color : var(--text);
}
/* cote responsivite du projet  */

@media (max-width : 850px){
    #container .all-data .body-contain header .option{
        display: block;
    }
    #container .all-data{
        position: relative;
    }
    #container .all-data .body-contain{
        width: 100%;
    }
    #container .all-data .list-contain{
        position: absolute;
        right : 0;
        top : 8%;
        width: 40%;
        height: 92%;
        border: 1px solid var(--borderColor);
    }
    #container .all-data .list-contain.hidden{
        display: none;
    }
}
@media (max-width : 650px){
    #container .all-data .body-contain{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding : 4% 2%
    }
    #container .all-data .body-contain .text{
        width: 100%;
    }
    #container .all-data .body-contain .images{
        width : 100%;
        height: 30%;
    }
}
@media (max-width : 650px){
    #container{
        gap : 5px;
    }
    #container .all-data{
        margin: 0 5px;
    }
    #container .all-data .list-contain{
        width: 50%;
    }
}
@media (max-width : 450px){
    #container{
        flex-direction: column-reverse;
        padding : 0;
    }
    #container .side-contain{
        margin: 0 2%;
        width : 96%;
        height: 60px;
    }
    #container .side-contain .side-bars{
        flex-direction: row;
    }
    #container .side-contain .side-bars .mode{
        transform: translate(-50%,-50%);
        left : 10%;
        top : 50%;
    }
    #container .side-contain .side-bars .menu{
        flex-direction: row;
        gap: 20px;
    }
    #container .all-data .body-contain header .logo p{
        margin-top: 7%;
        letter-spacing: 0;
    }
    #container .side-contain .side-bars .menu a.active::after{
        left: 8px;
        top : -20px;
        transform: rotate(90deg);
    }
    #container .all-data{
        margin: 0 2%;
        width: 96%;
        height: calc(100% - 70px);
    }
    #container .all-data .body-contain{
        border: none;
    }
    #container .all-data .body-contain .text h1{
        font-size: 4em;
    }
    #container .all-data .list-contain{
        width: 80%;
    }
}



